<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BasePageObjectModel" version="2.1.0" targetFramework="net461" />
  <package id="BasePageObjectModel.NUnit" version="2.1.1" targetFramework="net461" />
  <package id="Bogus" version="25.0.4" targetFramework="net461" />
  <package id="FluentAssertions" version="5.6.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.11.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net461" />
  <package id="RestSharp" version="106.6.7" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.23.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.7.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.46.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.141.5" targetFramework="net461" />
  <package id="Serilog" version="2.8.0" targetFramework="net461" />
  <package id="Serilog.Enrichers.Context" version="4.2.0" targetFramework="net461" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net461" />
  <package id="Serilog.Enrichers.Thread" version="3.0.1-dev-00728" targetFramework="net461" />
  <package id="Serilog.Sinks.ColoredConsole" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.Console" version="3.0.1" targetFramework="net461" />
  <package id="Serilog.Sinks.File" version="4.1.0-dev-00806" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
</packages>